.auth__form {
  background: var(--card-bg-04);
  padding: 40px;
  border-radius: 5px;
}

.login__btn {
  background: var(--primary-color) !important;
  color: #fff !important;
  font-weight: 500;
}

.auth__form p {
  margin-top: 30px;
}
.auth__form p a {
  color: rgba(255, 255, 255, 0.73);
}
